In [15]:
# 146

## SQLite3 DBMS로 저장/읽기

In [1]:
import pandas as pd
import sqlite3
from pandas.io import sql
import os

In [2]:
DB_NAME = 'top_cities.db'  # DB 파일명 정하기
TABLE_NAME = 'TOP_CITIES'  # 테이블 만들기

### db_save : 저장. insert, update도 동시에 수행

In [3]:
def db_save(df, db_name, table_name):
    with sqlite3.connect(db_name) as con:  # connecet : db에 접속
        try:
            df.to_sql(name = table_name, con = con, index = False, if_exists='append') # append : 이미 같은 테이블이 있다면 뒤에 이어쓰기
            #if_exists : {'fail', 'replace', 'append'} default : fail
        except Exception as e:  # 오류 처리
            print(str(e))
        print(len(df), '건 저장완료..')

### db_select : 읽기(조회)

In [4]:
# db에 있는 데이터를 읽어서 판다스의 데이터프레임으로 반환
def db_select(db_name, table_name):
    with sqlite3.connect(db_name) as con: 
        try:
            query = 'SELECT * FROM {}'.format(table_name)  # FROM 절의 테이블 명을 {} format으로 넣음 
            df = pd.read_sql(query, con = con)
        except Exception as e:
            print(str(e)) 
        return df

## db_delete : 삭제

In [5]:
def db_delete(db_name, table_name):
    with sqlite3.connect(db_name) as con: 
        try:
            cur = con.cursor()  # cursor 
            sql = 'DELETE FROM {}'.format(table_name)
            cur.execute(sql)
        except Exception as e:
            print(str(e))

In [12]:
# db_delete(DB_NAME, TABLE_NAME)

In [13]:
# top_cities.csv 파일은 2.6.1.3.encoding_check 에서 만들었음
top_cites = pd.read_csv('top_cities.csv')
db_save(top_cites, DB_NAME, TABLE_NAME)

5 건 저장완료..

In [14]:
df = db_select(DB_NAME, TABLE_NAME)
df

   rank  city  population
0     1   상하이    24150000
1     2   카라치    23500000
2     3   베이징    21516000
3     4    텐진    14722100
4     5  이스탄불    14160467